*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/build
.idea/gradle.xml
.idea/misc.xml
*.log
.idea
db
app/src/main/res/raw/db
/extras
/app/release
iat_backend/node_modules
iat_backend/dist
iat_backend/ol
.cache
