<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bigrs.iat"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-feature android:name="android.hardware.location.gps" />
    <application
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:icon="@drawable/text3336"
        android:label="CET IAT"
        android:name="org.bigrs.iat.Iat"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >
        <activity
            android:launchMode="standard"
            android:hardwareAccelerated="false"
            android:label="IAT"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:name="org.bigrs.iat.CsiActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.bigrs.iat.DRAW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:hardwareAccelerated="false"
            android:name="org.bigrs.iat.Choice"/>
        <activity
            android:name="org.bigrs.iat.DedosActivity" />
        <service android:enabled="true" android:name="org.bigrs.iat.LocationService" />
    </application>
</manifest>